@{
    Layout = "_Layout";
}

@model AnimalClient.Models.Animal

<h1>Edit Info:</h1>
<form action="/Animals/Details/@(Model.AnimalId)" method="post">
    <label for="name">Animals Name:</label>
    <input type="text" id="name" name="name" value="@(Model.Name)">
    <br>
    <label for="type">Animal Type:</label>
    <input type="text" id="type" name="type" value="@(Model.Type)">
    <br>
    <label for="gender">Animals Gender:</label>
    <input type="text" id="gender" name="gender" value="@(Model.Gender)">
    <br>
    <label for="behavior">Animals Behavior:</label>
    <input type="text" id="behavior" name="behavior" value="@(Model.Behavior)">
    <br>
    <label for="dateAdded">Date Animal Added:</label>
    <input type="text" id="dateAdded" name="dateAdded" value="@(Model.DateAdded)">
    <br>
    <button type="submit">Go!</button>
</form>

<p>@Html.ActionLink("Return to Details", "Details", new { id = Model.AnimalId })</p>